ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.ul1 {
margin: auto;
display: flex ;

	
}


.ul1 li a {
	 width:3.9rem;
	 height: 3.9rem;

     margin-top: -0.7rem;
	 
	overflow: hidden;
	
	border-radius: 30%;
	 display: block;

	 font-size: 2.8rem;
	border: 1px solid #457b9d;
	 position:relative;
	 
	 
}

.ul1 li a .fa {
	position: relative;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	transition: .5s;
	z-index: 3;
}

.ul1 li a:hover .fa {
	color: #FFFFFF;
	transform: rotateY(360deg);
	
}


.ul1 li a:before {
	content: '';
	position: absolute;
	top: 100% ;
	left: 0% ;
	width: 120%;
	height: 120%;
	background-color: #FF0000;
	transition: .5s;
	z-index:1 ;
}

.ul1 li a:hover:before {
	top: 0 ;
}

.fa-instagram:before{content:"\f16d"}
.ul1 li:nth-child(1) a:before {
background: #ca33f0; 
background: -moz-linear-gradient(45deg, #ca33f0 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #ca33f0 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #ca33f0 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.ul1 li:nth-child(2) a:before {
	background-color:#9c9c9c ;
}

.ul1 li:nth-child(3) a:before {
	background-color:#1027f7 ;
}

.ul1 li:nth-child(4) a:before {
	background-color:#23f710 ;
}