*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-family: monospace;
    scroll-behavior: smooth;
    
}
html{
    overflow-x: hidden;
}
body{
    
    background: linear-gradient(50deg, #000000, #577cb1);
    
}
   
   
nav {
    color: rgb(255, 255, 255);
    font-size: .7rem;
    padding:9px;
    display: flex;
    width: max(100%);
    background: linear-gradient(70deg,rgb(0, 0, 0),rgb(0, 0, 0));
}



.left{width:50% ; margin: auto;}

.right{width: 50%;}
.right ul {
display: flex;
text-decoration: none;
flex-direction: row;
margin: 1rem;
font-size: 1rem;


justify-content: flex-end;

}



.right ul li {display: flex;  
    cursor:pointer; 
    text-align: center;
     list-style: none; 
     margin: 1rem;
    }

.right ul a { 
        cursor:pointer; 
     
         list-style: none; 
         text-align: center;
        justify-content: center;
        }
        .right ul h3 { 
            cursor:pointer; 
         
             list-style: none; 
             text-align: center;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            margin-left:max(1rem);
            }

#btx{
    padding: max(12px) max(14px);
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    text-align: center;
    color:rgb(255, 255, 255);

    background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba(49, 58, 185, 0.37);
backdrop-filter: blur( 14.5px );
-webkit-backdrop-filter: blur( 14.5px );
border-radius: 10px;
border: 0.1px solid rgba(255, 255, 255, 0.18);

    font-family: monospace;

}
/* 
#btx:hover{
 background: linear-gradient(40deg,#00FF47,#00D1FF,#EFDA1E,#FF1414);

    color: white;
    font-weight: bold;
    border: none;
} */
.line{
    background: linear-gradient(40deg,#00FF47,#0044ff,#EFDA1E,#FF1414,#4b4b4b);
    height: .2rem;
}


#name{
    font-size: 1.8rem;
    color: #ffffff;

    font-family: sans-serif;
    margin: auto;
}

#intro{
    color: #d1d1d1;
    font-weight: 200;
    font-size: medium;
}


.mov{width:200%;
display: flex;
text-indent: 1rem;
text-align: center;
text-shadow: 0.2px 2px 0.8px rgb(255, 255, 255);
color: rgba(255, 255, 255, 0.774);

text-overflow: ellipsis;

/* Required for text-overflow to do anything */
white-space: nowrap;
overflow: hidden;
z-index: -2;

}


.mov_text{
    background-color:rgba(224, 0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
    margin: 1%;
    width: 100%;
    text-align: center;
    z-index: -2;
}

#text_color{
    background: -webkit-linear-gradient(40deg,#ffffff,#f8f8f8,#ffffff,#0fa383,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    text-shadow: none;
}


.r1{
 
    background-color: rgba(60, 7, 206, 0);
    width:100%;
    text-align: center;

    display: flex;
    justify-content: space-around;

    font-size: 3rem;
    font-weight: bolder;
     overflow: hidden;
     position: relative;
     -webkit-animation: ease infinite;
     -webkit-animation-name: run;
     -webkit-animation-duration: 22s;
}


.r2{
    
    background-color: rgba(187, 127, 255, 0);
    width:100%;
    text-align: center;

    display: flex;
    justify-content: space-around;
   
    font-size: 3rem;
    font-weight: bolder;
     overflow: hidden;
     position: relative;
     -webkit-animation: ease infinite;
     -webkit-animation-name: run;
     -webkit-animation-duration: 22s;

  
}







.mov_text_2{
    background-color:rgba(13, 255, 154, 0);
    display: flex;
    flex-direction: column-reverse;
    margin: 1%;
    width:100%;
    text-align: center;
    z-index: -2;
}

.r3{
 
    background-color: rgba(68, 0, 255, 0);
    width:100%;
    text-align: center;

    display: flex;
    justify-content: space-around;

    font-size: 3rem;
    font-weight: bolder;
     overflow: hidden;
     position: relative;
     -webkit-animation: ease infinite;
     -webkit-animation-name: run2;
     -webkit-animation-duration: 22s;
}


.r4{
    
    background-color: rgba(105, 1, 223, 0);
    width:100%;
    text-align: center;

    display: flex;
    justify-content: space-around;
   
    font-size: 3rem;
    font-weight: bolder;
     overflow: hidden;
     position: relative;
     -webkit-animation: ease infinite;
     -webkit-animation-name: run2;
     -webkit-animation-duration: 22s;

  
}



h2{
    font-size: 4rem;
    background: -webkit-linear-gradient(40deg,#00FF47,#00D1FF,#EFDA1E,#FF1414,#C1C1C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    text-shadow: none;
    }


@keyframes run{
    0% {
      left: -100%;
    }
  
    100% {
      left: 0%;    
    }
  }

  @keyframes run2{
    0% {
      left: -105%;
    }
   
    100% {
      left: 0%;    
    }
  }



  /*start of code for me section */
.me{
    margin-top: 1rem;
    width: 100%;
    background-color: #88ff0000;
    display: flex;
    padding: 1rem;
}

.self{
    width: 69%;
    display: flex;
    margin: auto;
    padding-top: 2.5rem;
    border-radius: 36%;
    
}

.left_me{
    box-sizing: border-box;
    width: 40%;
    margin: auto;
   background-color: #00000000;
   margin-top: -0.4rem;
   
}

.me_txt{
    color: white;
    text-align: center;
    font-size: 2.8rem;
}



.right_me{
    box-sizing: border-box;
    width: 50%;
    background-color: #00d0ff00;
}

.round{
    width:28rem;
    height: 28rem;
    background-image: linear-gradient(40deg,#fefdfd,#fcfcfd);
    border-radius: 100%;
    margin: auto;

    margin-top: -8rem;
    z-index: 0;
    border: .21px steelblue rgb(255, 255, 255);

/* 
    background-size: 300% 300%;
	animation: gradient 8s ease infinite; */

    box-shadow:  8px 8px 16px #00000046,
             -5px -5px 16px #0000002c;
}
/*end of code for me section */
  

/* @keyframes gradient {
	0% {
		background-position:0% 50% ;}

	100% {
		background-position: 50% 100%;
	}
} */



.element {
  align-items: center;

    font :boldk;
    font-size: 1.2rem;
  display: flex;
  height: 4.5rem;

  justify-content: center;
  width: 16rem;
  margin: 1rem;

  color: rgb(255, 255, 255);

border-radius: 10px;

box-shadow:  8px 8px 16px #303030,
             -5px -5px 16px #2e2e2e;

background-image: linear-gradient(20deg, rgb(34, 190, 172),rgb(209, 211, 214));; 
}


.element:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    
    border: 1px solid rgb(0, 0, 0);
    box-shadow:  8px 8px 16px #4f4f66,
             -5px -5px 16px #504f4f;

             background-image: linear-gradient(20deg, rgb(234, 239, 239),rgb(185, 181, 181));
}



.holder{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Experiences */

.experience{
    width: 100%;
    background-image: linear-gradient(30deg, red , yellow , green);
}

#exp-head{
    background: -webkit-linear-gradient(40deg,#00FF47,#00D1FF,#EFDA1E,#FF1414,#C1C1C1);
  
    cursor: pointer;
    text-shadow: none;
    font-size: 4rem;
    height: .6rem;
    margin-top:4rem;

}



.exp-cards{
display: flex;
justify-content: space-around;
width: 100%;

background-image: linear-gradient(70deg,#052648 , rgb(110, 22, 108) , rgb(17, 253, 253));
}


.exp-cardsz{
    display: flex;
    padding: .8rem;
    width: 100%;
    background-image: linear-gradient( 280deg,rgb(3, 0, 0) , rgb(14, 13, 13));
    font-size: 2rem;
    }

    #exp{
        font-size: 3rem;
    }

.ex-card{
    display: flex;
    width:35rem;
    font-size: .31rem;
    height: 17rem;
    
    margin: 2.3rem;
    padding: 1.2rem;

    border-radius: 1.1rem;



    background: rgba(218, 214, 214, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.415);
color: #f6f3f3;
}




.l-card{
    width: 30%;
    
}
.l-card2{
    width: 40%;
}

.l-card3{
    width: 40%;
    margin: auto;
}






.r-card{
    width: 70%;
    
}
.r-card2{
width: 60%;
}

.r-card3{
    width: 60%;
    margin: auto;
    }
    










.l-card img {
    width:100%;
    margin-top: 20%;
}

.l-card2 img {
    width:100%;
    margin-top: 40%;
    text-align: center;
}

.l-card3 img{
    width: 80%;
}

.ex-card h3, h4{
font-size: 1rem;
text-align:left;
}

.element-down a{
    text-decoration: none;
}



.element-down {
    align-items: center;
  
      font :bold;
      font-size: .9rem;
    display: flex;
    height: 2.5rem;
  
    justify-content: center;
    width: 19rem;
    
  
    color: rgb(255, 255, 255);
  
  border-radius: 10px;
  
  box-shadow:  8px 8px 16px #3030304f,
               -5px -5px 16px #05050524;
  
  background-image: linear-gradient(20deg, rgb(12, 74, 221),rgb(8, 98, 233));

  margin: auto;

  margin-top: 1rem;
  }
  
  
  .element-down:hover{
      cursor: pointer;
      color: #2e2e2e;
      
               background-image: linear-gradient(20deg, rgb(0, 0, 0),rgb(28, 29, 31));


  }

  .element-down a {
    color: white;
  }

  
  a{
    text-decoration: none;
  }

  a::after{
    text-decoration: none;
  }